@font-face {
	font-family: SFSlapstickComic;
	src: url('../fonts/SFSlapstickComic.ttf') format('truetype'), url('../fonts/SFSlapstickComic.otf') format('opentype');
}

body {
  padding-top: 50px;
}

ul.nav, .consistentContent, .navbar-brand {
	font-family: "SFSlapstickComic", "Helvetica Neue", Arial, sans-serif;
}

.navbar-brand {
	font-size: 22px;
}

ul.nav {
	font-size: 22px;
}

.clock {
	width: 500px;
	height: 200px;
	margin: 0 auto;
}

.topSection {
	text-align: center;
	background-image: url('../images/feature-banner-2.png');
	background-repeat: no-repeat;
	background-position: 50% center;
	color: white;
	padding: 100px 0 50px 0;
	height: 480px;
}

.flip-clock-label {
	font-family: "SFSlapstickComic", "Helvetica Neue", Arial, sans-serif;
	font-size: 20px;
}

.flip-clock-divider .flip-clock-label {
	color: white;
	text-align: center;
}

.flip-clock-dot {
	background: rgb(160,160,160);
}

.middleSection {
	font-family: "SFSlapstickComic", "Helvetica Neue", Arial, sans-serif;
	padding: 20px 0;
	background-color: gray;
	
}
.middleSection h1 {
	font-size: 70px;
}
.middleSection p {
	font-size: 25px;
}

.kikiSetion {
	
}
.kikiSection img {
	width: 70%;
}

.maskHeroSection {
	background-color: red;
}
.maskHeroSection img {
	width: 85%;
}
.maskHeroSection div.col-md-4 {
	text-align: right;
}

.gallerySection {

}

.videoSection {
	text-align: center;
	padding: 30px 0px;
	background-image: url('../images/navMenuBg.png');
	background-size: cover;
}

.videoSection iframe {
	width: 70%;
	height: 430px;
	margin: 100px 0;
}

.gifSection {
	background-color: gray;
	padding: 50px;
	text-align: center;
}

.gifSection img.gif {
	width: 100%;
}

.gifSection div.gifWrapper {
	padding: 0px 10px;
}

.emphasize {
	color: white;
}

footer {
	background-color: #f74c3c;
	padding-top: 80px;
	padding-bottom: 30px;
	font-family: "SFSlapstickComic", "Helvetica Neue", Arial, sans-serif;
	font-size: 15px;
	color: rgb(240, 240, 240);
	text-align: right;
}

footer div.copyright {
	margin: 20px 0;
}

@media (min-width: 300px) {
	.clock {
		zoom: 0.6;

		-moz-transform: scale(0.6);
	}

	.middleSection h1 {
		font-size: 45px;
	}

	.videoSection iframe {
		height: 250px;
	}

	.gifSection img.gif {
		width: 100%;
	}
}

@media (min-width: 375px) {
	.clock {
		zoom: 0.7;
		-moz-transform: scale(0.7);
	}

	.middleSection h1 {
		font-size: 70px;
	}

	.videoSection iframe {
		height: 250px;
	}

	.gifSection img.gif {
		width: 100%;
	}
}

@media (min-width: 414px) {
	.clock {
		zoom: 0.8;
		-moz-transform: scale(0.8);
	}

	.middleSection h1 {
		font-size: 70px;
	}

	.videoSection iframe {
		height: 430px;
	}

	.gifSection img.gif {
		width: 100%;
	}
}

@media (min-width: 500px) {
	.clock {
		zoom: 1.0;
		-moz-transform: scale(1.0);
	}

	.middleSection h1 {
		font-size: 70px;
	}

	.videoSection iframe {
		height: 430px;
	}

	.gifSection img.gif {
		width: 100%;
	}
}

@media (min-width: 1000px) {
	.gifSection img.gif {
		width: 80%;
	}
}

@media (min-width: 1070px) {
	.gifSection img.gif {
		width: 100%;
	}
}